/*================ Helper Classes ================*/
.clearfix {
  @include clearfix();
}

.visually-hidden {
  @include visually-hidden();
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  @include visually-hidden();

  // No placeholders, so force show labels
  .no-placeholder & {
    @include visually-shown();
  }
}

.visually-shown {
  @include visually-shown();
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

// Only show when browser cookies are not supported
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}

// Only show when browser cookies are supported
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}

// prepare transition
.is-transitioning {
  // sass-lint:disable no-important
  display: block !important;
  visibility: visible !important;
}

/*============================================================================
  Skip to content button
    - Overrides .visually-hidden when focused
==============================================================================*/
.skip-link:focus {
  @include visually-shown(absolute);
  color: $color-body-text;
  background-color: $color-body;
  padding: spacing();
  z-index: $z-index-skip-to-content;
  transition: none;
}

/*================ Flex Helper Classes ================*/
// Flex displays
.flex {
  @include display-flexbox();
}

.flex-inline {
  @include display-inline-flexbox();
}

// Flex row & direction properites
.flex-wrap {
  @include flex-wrap(wrap);
}

.flex-direction-column {
  @include flex-direction(column);
}

.flex-direction-row-reverse {
  @include flex-direction(row-reverse);
}

// Flex justify
.justify-start {
  @include justify-content(flex-start);
}

.justify-center {
  @include justify-content(center);
}

.justify-around {
  @include justify-content(space-around);
}

.justify-between {
  @include justify-content(space-between);
}

.justify-end {
  @include justify-content(flex-end);
}

// Flex align
.align-items-start {
  @include align-items(flex-start);
}

.align-items-stretch {
  @include align-items(stretch);
}

.align-items-center {
  @include align-items(center);
}

.align-items-end {
  @include align-items(flex-end);
}

.align-content-start {
  @include align-content(flex-start);
}
