/*================ Links & Buttons ================*/
a {
  color: $color-body-text;
  text-decoration: none;
}

.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;
  font-weight: weight(medium);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: normal;
  transition: $transition-link-hover;

  &:hover,
  &:focus {
    color: $color-btn-primary-text-hover;
    background-color: color($color-btn-primary-hover, 0.6);
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }
}

.btn--secondary {
  color: $color-btn-secondary-text;
  background-color: $color-btn-secondary;

  &:hover,
  &:focus {
    color: $color-btn-secondary-text-hover;
    background-color: color($color-btn-secondary-hover, 0.6);
  }
}

.btn--outline {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  border-color: currentColor;
  color: currentColor;

  &:hover,
  &:focus {
    background-color: color($white, 0.2);
  }
}

.btn--link {
  background-color: transparent;
  border: 0;
  margin: 0;
  text-align: left;

  &:hover,
  &:focus {
    opacity: $opacity-link-hover;
  }

  .icon {
    vertical-align: middle;
  }
}