/*================ Ajax Cart ================*/
.ajaxcart__inner {
  margin-bottom: $grid-gutter;
}

.ajaxcart__product {
  position: relative;
  max-height: rem(500px);

  &.is-removed {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 450ms cubic-bezier(0.57,.06,.05,.95);
  }
}

.ajaxcart__row {
  padding-bottom: $grid-gutter / 2;
  margin-bottom: $grid-gutter / 2;
  border-bottom: 1px solid $color-border;
}

.ajaxcart__product-image {
  display: block;
  overflow: hidden;
  margin-bottom: rem(15px);

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.ajaxcart__product-name,
.ajaxcart__product-meta {
  display: block;
}

.ajaxcart__product-name + .ajaxcart__product-meta {
  padding-top: $grid-gutter / 5;
}

/*================ Quantity Selectors ================*/
.js-qty {
  position: relative;
  margin-bottom: 1em;
  max-width: rem(100px);
  min-width: rem(75px);
  overflow: visible;

  input {
    display: block;
    background: none;
    text-align: center;
    width: 100%;
    padding: rem(5px) rem(25px);
    margin: 0;
  }

  .icon {
    width: rem(12px);
    height: rem(12px);
  }
}

.js-qty__adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 rem(8px);
  background: none;
  text-align: center;
  overflow: hidden;

  &:hover,
  &:focus {
    color: $color-body-text;
  }
}

.js-qty__adjust--plus {
  right: 0;
  border-left: 1px solid $color-border;
}

.js-qty__adjust--minus {
  left: 0;
  border-right: 1px solid $color-border;
}

/*================ Quantity Selectors in Ajax Cart ================*/
.ajaxcart__qty {
  @extend .js-qty;
  margin: 0;

  .is-loading & {
    opacity: 0.5;
    transition: none;
  }
}

.ajaxcart__qty-num {
  border-color: $color-border;
  color: $color-body-text;
}

.ajaxcart__qty-adjust {
  @extend .js-qty__adjust;
  color: $color-body-text;
}

.ajaxcart__qty--plus {
  @extend .js-qty__adjust--plus;
  border-color: $color-border;
}

.ajaxcart__qty--minus {
  @extend .js-qty__adjust--minus;
  border-color: $color-border;
}

.ajaxcart-item__price-strikethrough {
  float: right;
}
