/*================ Typography Tools ================*/
@function font-family($type: body) {
  $fetched-value: get-list-value($font-family-data, $type);

  @if type-of($fetched-value) == string {
    @return $fetched-value, Arial, sans-serif;
  }
}

@function font-weight($type: normal) {
  $fetched-value: get-list-value($font-weight-data, $type);

  @if type-of($fetched-value) == number {
    @return $fetched-value;
  }
}

@function font-size($type: base) {
  $fetched-value: get-list-value($font-size-data, $type);

  @if type-of($fetched-value) != null {
    @return $fetched-value;
  }
}

@function line-height($type: normal) {
  $fetched-value: get-list-value(line-height, $type);

  @if type-of($fetched-value) != null {
    @return $fetched-value;
  }
}

@mixin font-size-and-height($type: base) {
  $size-value: get-list-value($font-size-data, $type);

  @if type-of($size-value) != null {
    font-size: $size-value;
  }

  $line-height-value: get-list-value($line-height-data, $type);

  @if type-of($line-height-value) != null {
    line-height: $line-height-value;
  }
}
